body, input {
  font-family: San Francisco, Helvetica, Arial, sans-serif;
  font-size: 22px;
}

body {
  padding: 1em;
}

h1 {
  font-size: 32px;
}

input[type=text] {
  padding: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

